---
name: Run tests
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "30 8 * * *" # runs every day at 8:30 am

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    strategy:
      fail-fast: ${{ github.event_name != 'schedule' }}
      matrix:
        bazel-version:
          - 7.x
          - 8.x
        runner:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-14
          - macos-15
          - windows-2022
          - windows-2025
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: Set up
        uses: ./.github/actions/setup
        with:
          bazel-version: ${{ matrix.bazel-version }}
      - name: Run unit tests
        shell: bash
        run: ./development/cli/execute_tests.bash

  example:
    strategy:
      fail-fast: ${{ github.event_name != 'schedule' }}
      matrix:
        bazel-version:
          - 7.x
          - 8.x
          - rolling
          - last_green
        runner:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-14
          - macos-15
          - windows-2022
          - windows-2025
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: Set up
        uses: ./.github/actions/setup
        with:
          bazel-version: ${{ matrix.bazel-version }}
      - name: Validate example
        shell: bash
        run: ./development/cli/validate_example.bash

  style-check:
    runs-on: ubuntu-latest
    env:
      bazel-version: 8.x
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: Set up
        uses: ./.github/actions/setup
        with:
          bazel-version: ${{ env.bazel-version }}
      - name: Run formatters and linters
        shell: bash
        run: ./development/cli/style_check.bash
      - name: Fail if some files are changed
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "ERROR: Files are changed by formatters" >&2
            exit 1
          fi

  all-tests-passable:
    if: always()
    needs:
      - unit-test
      - example
      - style-check
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
